<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <head>
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"/>
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
    </head>

    <h:body>
        <h:panelGroup  id="WrongCredentials" style="position: absolute; left:0; right:0;" class="notification is-danger" rendered="#{managedProduct.isWrongCredentials}">
            <button class="delete"></button>
            Niepoprawne dane logowania.
        </h:panelGroup>

        <h:panelGroup  id="emptyFields" style="position: absolute; left:0; right:0;" class="notification is-danger" rendered="#{managedProduct.isEmptyFields}">
            <button class="delete"></button>
            Puste Pola.
        </h:panelGroup>

        <section class="hero is-primary is-fullheight">
            <div class="hero-body">
                <div class="container">
                    <div class="columns is-centered">
                        <div class="column is-4">
                            <h:form class="box">
                                <div class="field">
                                    <label for="" class="label">Numer usługi</label>
                                    <div class="control has-icons-left">
                                        <h:inputText class="input" value="#{managedProduct.login}"/>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-envelope"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="field">
                                    <label for="" class="label">Token</label>
                                    <div class="control has-icons-left">
                                        <h:inputSecret class="input" value="#{managedProduct.token}"/>
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="buttons is-centered">
                                    <h:commandButton class="button is-success" value="Login" action="#{managedProduct.validateUser}">
                                    </h:commandButton>
                                </div>
                            </h:form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-foot">
                <footer class="footer has-text-black">
                    <div class="content has-text-centered">
                        <p>
                            <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
                        </p>
                    </div>
                </footer> 
            </div>
        </section>
        <br />
    </h:body>
</html>