<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html  
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:p="http://primefaces.org/ui">
    
    <h:head>
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.2/css/bulma.css"/>
        <link rel="stylesheet" type="text/css" href = "bulma-steps.min.css"/>
        <link rel="stylesheet" type="text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>

    </h:head>
    <body style="display: flex; flex-direction:column; min-height: 100vh;">
        
        <section class="hero is-primary">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    <h:outputText value="#{managedProduct.devName}"/>
                  </h1>
                  <h2 class="subtitle">
                      <h:outputText value="#{managedProduct.serialNumber}"/>
                  </h2>
            </div>
        </div>
        </section>

        <section class="section">
            <div class="columns is-centered">
                <div class="column is-7 is-centered">
                    <ul class="steps is-balanced">
                        <li class="steps-segment">
                        <span class="steps-marker"></span>
                        <div class="steps-content #{managedProduct.status == 1 ?'is-active':''}">
                            <p class="is-size-4">1</p>
                            <p>Przyjęto do serwisu.</p>
                        </div>
                        </li>
                        <li class="steps-segment #{managedProduct.status == 2 ?'is-active':''}">
                        <span class="steps-marker"></span>
                        <div class="steps-content">
                            <p class="is-size-4">2</p>
                            <p>Diagnoza.</p>
                        </div>
                        </li>
                        <li class="steps-segment #{managedProduct.status == 3 ?'is-active':''}">
                        <span class="steps-marker"></span>
                        <div class="steps-content">
                            <p class="is-size-4">3</p>
                            <p>Naprawa</p>
                        </div>
                        </li>
                        <li class="steps-segment #{managedProduct.status == 4 ?'is-active':''}">
                        <span class="steps-marker"></span>
                        <div class="steps-content">
                            <p class="is-size-4">4</p>
                            <p>Gotowe. Przygotowane do odbioru.</p>
                        </div>
                        </li>
                    </ul>
                </div>
            </div>
        </section>

        <section style="padding:0 20px;">
            <div class="content">
                <div>
                    <h6 style = "display: inline-block;">Nr usługi:&nbsp;</h6> 
                    <h:outputText style = "display: inline-block;" value="#{managedProduct.ordNmb}"/>
                </div>
                <div>
                    <h6 style = "display: inline-block;">Nazwa:&nbsp;</h6> 
                    <h:outputText style = "display: inline-block;" value="#{managedProduct.serviceName}"/>
                </div>
                <div>
                    <h6 style = "display: inline-block;">Przewidywany termin odbioru:&nbsp;</h6> 
                    <h:outputText style = "display: inline-block;" value="#{managedProduct.dueDate}">
                          <f:convertDateTime 
                               locale="pl_PL" />
                    </h:outputText>
                </div>
                <div>
                    <h3 style = "display: inline-block;" class="has-text-primary"> Suma: </h3> 
                    <h4 style="display: inline-block;"><h:outputText style = "display: inline-block;" value="#{managedProduct.sum}"/></h4>&nbsp;zł
                </div>
                
            </div>
        </section>

        <section style="padding:0 20px 50px 20px; flex:1;">
            <h:form>
            <h:dataTable id="detailTable" value="#{managedProduct.details}" var="item" class="table is-fullwidth is-hoverable">
                  <h:column>
                    <f:facet name="header">
                        <h:outputText value="Nazwa"/>
                    </f:facet>
                    <h:outputText value="#{item.get(1)}"/>
                </h:column>
                
                  <h:column>
                    <f:facet name="header">
                        <h:outputText value="Cena"/>
                    </f:facet>
                    <h:outputText value="#{item.get(2)}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="VAT"/>
                    </f:facet>
                    <h:outputText value="#{item.get(3)}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Zniżka"/>
                    </f:facet>
                    <h:outputText value="#{item.get(4)}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Uwagi"/>
                    </f:facet>
                    <h:outputText value="#{item.get(5)}"/>
                </h:column>
                
                <h:column>
                    <f:facet name="header">
                        <h:outputText value="Accept"/>
                    </f:facet>
                    <span class="#{item.get(6) == 'true'? 'has-text-primary': 'has-text-danger'}">  <h:outputText value="#{item.get(6) == 'true'? 'Tak': 'Nie'}"/> </span>
                </h:column>
                
                <h:column>
                     <div style="display: inline-block;" class="buttons are-small">
                         <h:commandLink action="#{managedProduct.updateAcceptStatus}" class="button is-success" value=""><i class="fa fa-check"></i>
                             <f:param name="id" value="#{item.get(0)}" />
                             <f:param name="value" value="true" />
                         </h:commandLink>
                         <h:commandLink action="#{managedProduct.updateAcceptStatus}" class="button is-danger" value=""><i class="fa fa-times"></i>
                             <f:param name="id" value="#{item.get(0)}" />
                             <f:param name="value" value="false" />
                         </h:commandLink>
                        </div>
                </h:column>
                
            </h:dataTable>
            </h:form>
        </section>
        <footer class="footer has-text-black">
            <div class="content has-text-centered">
              <p>
                <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
                <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
                is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
              </p>
            </div>
        </footer> 
    </body>
</html>
